<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
          type="So_classTimer.MyService, So_classTimer"
          objectUri="MyServiceUri"
          mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="33000" rejectRemoteRequests="true"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>